<section>
    <div class="container">
        <div class="user signinBx">
            <div class="imgBx">
                <img src="assets/img1.jpeg"
                    alt="" />
            </div>
            <div class="formBx">
                <form [formGroup]="loginForm">
                    <h2>Sign In</h2>
                    <div>
                        <input type="text" name="username" placeholder="Username" formControlName="username"/>
                        <small
                            *ngIf="loginForm.get('username')?.touched && loginForm.get('username')?.invalid">
                            Username is <strong>required</strong>.
                        </small>
                    </div>
                    <div>
                        <input type="password" name="" placeholder="Password" formControlName="password"/>
                        <small
                            *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
                            Password is <strong>required</strong>.
                        </small>
                    </div>
                    
                    <input type="submit" name="" value="Login" (click)="submit(loginForm.value)"/>
                    <p class="signup">
                        Don't have an account ?
                        <a routerLink="/signup">Sign Up.</a>
                    </p>
                </form>
            </div>
        </div>
        
    </div>
</section>